input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative;
  }

input[type="checkbox"]:checked {
background-color: #007bff;
border-color: #007bff;
}

input[type="checkbox"]:checked::after {
content: '';
position: absolute;
top: -1px;
left: 5px;
width: 6px;
height: 12px;
border: solid white;
border-width: 0 2px 2px 0;
transform: rotate(45deg);
}

.markdown-container {
  text-align: left; 
  margin-top: 10px;
  overflow: auto;
  height: 50vh;
  scrollbar-width: thin;
  scrollbar-color: #eaf4ff #f8f9fa;
}
  
.custom-deny-button {
  position: absolute;
  background-color: transparent;
  bottom: 10px; 
  left: 10px; 
  margin: 0; 
  border: none; 
  color: #000000; 
  padding: 0; 
  cursor: pointer; 
  text-decoration: underline;
}


.swal2-icon .swal2-question .swal2-icon-show {
  border-color: #f27474;
}